body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

:root {
    --bg-color-light: #f8f9fa;
    --text-color-light: #000;
    --bg-color-dark: #121212;
    --text-color-dark: #fff;
}

.light-theme {
    --bg-color: var(--bg-color-light);
    --text-color: var(--text-color-light);
}

.dark-theme {
    --bg-color: var(--bg-color-dark);
    --text-color: var(--text-color-dark);
}

.container {
    max-width: 700px;
    margin: auto;
}

.video-frame {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.video-frame iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}
